/* Clie/r.ly  */

.dark-bg-front{
	background: #3498DB url(../images/bg-large.jpg) repeat; 
	color: white;
margin: 0 -200px;
box-shadow: inset 0 0 15px -5px #333;
}

.dark-bg{
	background: #3498DB ; 
	color: white;
margin: 0 -200px;
}

.commentBox {
    padding: 10px 10px 1px 10px;
    float: left;
    position: absolute;
    background-color: #bdc3c7;
    color: #fff;
    height: 40px; 
    overflow: hidden;
    z-index: 1; 
    box-shadow: 0 0 0 #ccc;  
}
#text p {
	color: #bbb !important;	
}

.text-black {
	color: #34495e; 
}

.highlighted {
	color: #34495e; 
}
.clickToSee {
	color: #16a085; 
}
.hiddenMsg {
	margin: 10px 0; 
	font-size: 14px;
border: 1px dotted #eee;
text-align: center;
background-color: rgba(238, 238, 238, 0.28);
}
#textpaste {
	height: 300px; 
}
#errorMsg {
	height: 140px;
	color: #bf392b;
	font-size: 12px; 
	
}
.color-primary{
	color: #1abc9c; 
}
.color-warning {
	color: #f5d313;
}
.color-danger {
	color: #ec7063; 
}
.color-inverse {
	color: #ec7063; 
}
.color-success {
	color: #ec7063; 
}
.color-info {
	color: #3498db; 
}
.color-default {
	color: #bdc3c7; 
}
.commentBox {
	padding: 10px 10px 1px 10px;
	float: left;
	position: absolute;
	background-color: #bdc3c7; 
	color: #fff;	
	}
.commentBox p {
	font-size: 14px; 
}
#commentCol .Content{
	background-color: #1abc9c; 
	color: #fff;
}
#commentCol .Change {
	background-color: #f5d313;
	color: #fff;
}
#commentCol .Violation {
 	background-color: #ec7063; 
	color: #fff;
}			
#commentCol .Personal {
	background-color: #ec7063; 
	color: #fff;
}
#commentCol .Risk {
	background-color: #ec7063; 
	color: #fff;
}			
#commentCol .Money {
	background-color: #3498db; 
	color: #fff;
}

.arrow {
	width: 0; 
	height: 0; 
	float: left; 
		margin-left: -19px;	 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 	
	border-right:10px solid #bdc3c7;
}

#commentCol .Content .arrowColor {
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 	
	border-right:10px solid #1abc9c;
}
#commentCol .Change .arrowColor{
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 	
	border-right:10px solid #f5d313;
}
#commentCol .Violation .arrowColor{
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 	
	border-right:10px solid #ec7063;
}			
#commentCol .Personal .arrowColor{
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 	
	border-right:10px solid #ec7063;
}
#commentCol .Risk .arrowColor{
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 	
	border-right:10px solid #ec7063;
}			
#commentCol .Money .arrowColor{
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 	
	border-right:10px solid #3498db;
}
.strip{
	width: 100%; 
	height: 6px; 
	background-color: #3498db; 
	position: absolute;
}
#navBox .Content{
	background-color: #1abc9c; 

}
#navBox .Change {
	background-color: #f5d313;

}
#navBox .Violation {
 	background-color: #ec7063; 

}			
#navBox .Personal {
	background-color: #ec7063; 

}
#navBox .Risk {
	background-color: #ec7063; 

}			
#navBox .Money {
	background-color: #3498db; 
}

#text .Content{
	color: #1abc9c; 
}
#text .Change {
	color: #f5d313;

}
#text .Violation {
 	color: #ec7063; 

}			
#text .Personal {
	color: #ec7063; 

}
#text .Risk {
	color: #ec7063; 

}			
#text .Money {
	color: #3498db; 
}




#commentCol {
	margin-top: 20px; 
}

	
#navBox {
	width: 50px;
	background-color: #eee;
	position: fixed;
	right: 40px;
	top: 50px; 	
}
#pageHolder {
	width: 54px;
	border: 2px solid #7676a3; 
	height: 40px; 
	margin-left: -2px;
	position: absolute; 
}

#text a {
	color: #0594CC; 
}

/*  end clie/r.ly  */



.text-box {
	margin: 25px auto;
}

.front-row {
	margin-top: 25px;
}
.front-row p {
	font-weight: 300;
}

.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
.container {
  max-width: 970px !important;
}
.demo-headline {
padding: 50px 0 50px;
  text-align: center;
}
.demo-headline-front {
padding: 120px 0 150px;
  text-align: center;
}
.demo-logo {
  font: 900 90px/100px "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: -2px;
  margin: 30px 0;
}
.demo-logo .logo {
  background: url(../images/demo/logo-mask.png) center 0 no-repeat;
  background-size: 236px 181px;
  height: 181px;
  margin: 0 auto 26px;
  overflow: hidden;
  text-indent: -9999em;
  width: 236px;
}
.demo-logo small {
  color: rgba(52, 73, 94, 0.30000000000000004);
  display: block;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0;
  padding-top: 5px;
}
.demo-row {
  margin-bottom: 20px;
  margin-top: 25px;
}
.demo-row .demo-heading-note,
.demo-row .demo-text-note {
  display: block;
  width: 260px;
  position: absolute;
  bottom: 10px;
  left: 0;
  font-size: 13px;
  line-height: 13px;
  color: #c0c1c2;
  font-weight: 400;
}
.demo-row .demo-text-note {
  bottom: auto;
  top: 10px;
}
.demo-row.typography-row .demo-content {
  float: none;
  width: auto;
  clear: both;
}
.demo-row.typography-row .demo-type-example {
  padding-left: 25%;
  margin-bottom: 40px;
  position: relative;
}
.demo-section-title {
  font: 900 32px/40px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 10px 0;
}
.demo-panel-title {
  padding-top: 20px;
  margin: 2px 0 20px;
  font: bold 23px/40px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.demo-panel-title small {
  color: #798795;
  font-size: inherit;
  font-weight: 400;
}
.demo-navigation {
  margin-bottom: -4px;
  margin-top: -10px;
}
.demo-pager {
  margin-top: -20px;
}
.demo-tooltips {
  height: 126px;
}
.demo-tooltips .tooltip {
  left: -8px !important;
  position: relative !important;
  top: -8px !important;
}
.demo-headings {
  margin-bottom: 12px;
}
.demo-tiles {
  margin-bottom: 46px;
}
.demo-icons {
  font-size: 32px;
  margin-left: -20px;
  padding-left: 20px;
}
.demo-icons .demo-content {
  margin: 0 0 0 -35px;
}
.demo-icons .demo-content > span {
  display: inline-block;
  margin: 0 0 32px 35px;
  width: 24px;
  font-size: 24px;
}
.demo-icons-tooltip {
  bottom: 0;
  color: #c2c8cf;
  font-size: 12px;
  left: 100%;
  margin-left: 0 !important;
  position: absolute;
  width: 80px;
}
.demo-illustrations .demo-content {
  margin: 0 0 0 -40px;
  padding-top: 20px;
}
.demo-illustrations .demo-content:before,
.demo-illustrations .demo-content:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.demo-illustrations .demo-content:after {
  clear: both;
}
.demo-illustrations .demo-content > div {
  float: left;
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin: 0 0 40px 40px;
  text-align: center;
}
.demo-illustrations img {
  display: inline-block;
  max-height: 100px;
  max-width: 100px;
  vertical-align: middle;
}
.demo-samples {
  margin-bottom: 46px;
}
.demo-video {
  padding-top: 95px;
  border-radius: 6px;
}
.demo-download-section {
  float: none;
  margin: 0 auto;
  padding: 60px 0 90px 20px;
  text-align: center;
}
.demo-download-section [class*='fui-'] {
  margin: 3px 0 -3px;
}
.demo-download {
  background-color: #ebedef;
  height: 190px;
  margin: 0 auto 32px;
  padding: 40px 28px 30px 32px;
  text-align: center;
  width: 190px;
  border-radius: 50%;
}
.demo-download img {
  height: 104px;
  width: 82px;
}
.demo-download-text {
  font-size: 15px;
  padding: 20px 0;
  text-align: center;
}
.demo-text-box a:hover {
  color: #1abc9c;
}
.demo-browser {
  background: #2c3e50 url(../images/demo/browser.png) 0 0 no-repeat;
  background-size: 659px 42px;
  color: #ffffff;
  margin: 0 41px 140px 0;
  padding-top: 42px;
  border-radius: 0 0 6px 6px;
}
.demo-browser-side {
  float: left;
  padding: 22px 20px;
  width: 151px;
}
.demo-browser-side > h5 {
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 3px;
  text-transform: none;
  font-weight: 400;
}
.demo-browser-side > h6 {
  font-size: 11px;
  font-weight: 300;
  line-height: 18px;
  margin-top: 3px;
  text-transform: none;
  -webkit-font-smoothing: subpixel-antialiased;
}
.demo-browser-author {
  background: url(../images/demo/browser-author.jpg) center center no-repeat;
  border: 3px solid #ffffff;
  display: block;
  height: 84px;
  margin: 0 auto;
  width: 84px;
  border-radius: 50%;
}
.demo-browser-action {
  padding: 30px 0 12px;
}
.demo-browser-action > .btn {
  padding: 7px 0 8px 11px !important;
  text-align: left;
  border-radius: 3px;
}
.demo-browser-action > .btn:before {
  color: #ffffff;
  content: '\e009';
  font-size: 16px;
  font-family: 'Flat-UI-Icons';
  font-weight: 300;
  margin-right: 12px;
  position: relative;
  top: 1px;
  -webkit-font-smoothing: antialiased;
}
.demo-browser-content {
  background-color: #34495e;
  overflow: hidden;
  padding: 21px 0 0 20px;
  border-radius: 0 0 6px;
}
.demo-browser-content > img {
  border: 6px solid #ffffff;
  float: left;
  margin: 0 15px 20px 0;
  width: 146px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2) {
  .logo {
    background-image: url(../images/demo/logo-mask-2x.png);
  }
  .demo-browser {
    background-image: url(../images/demo/browser-2x.png);
  }
}
.demo-swatches-row [class*="col"] {
  float: left;
  min-height: 1px;
}
.demo-swatches-row .swatches-col {
  width: 800px;
  margin-left: -5px;
}
.demo-swatches-row .swatches-desc-col {
  width: 140px;
  margin-left: 20px;
}


