
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>clie/r.ly</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Loading Bootstrap -->
    <link href="{% url_for('static', filename='bootstrap/css/bootstrap.css') %}" rel="stylesheet" type="text/css"><!-- Loading Flat UI -->
    <link href="css/flat-ui.css" rel="stylesheet" type="text/css">
    <link href="css/demo.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="images/favicon.ico"><!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
        <div class="demo-headline">
            <h1 class="demo-logo"></h1>

            <div>
                <h1 class="demo-logo"><img src="images/icons/svg/clipboard.svg" alt="Clipboard"> clie/r.ly </h1>
                <p class="lead"> Helping you make sense of Terms of service documents. </p>
                <p>Don't want to read the pesky Terms of Service documents?  Let clie/r.ly do the heavy lifting! <br /> Enter the text you want to know more about and we'll show you important sentences that you should read from it. You can also filter results through themes that are important to you; like privacy or points about money. </p>
            </div>
        </div><!-- /demo-headline -->

        <hr class="soften" />


        <div class="row demo-row">
            <div class="col-md-9">
				<div id="textForm" class="form-group ">
				<textarea id="textpaste"  class="form-control" />Copy paste the text of the terms and service content here. Click Analyze New Document when you are ready.</textarea> 
		      </div>
		            
            </div>            
            <div class="col-md-3 ">
            	<p id="errorMsg" class="has-error"> </p>
                <a id="clearButton" href="#fakelink" class="btn btn-block btn-lg btn-default">Clear</a>
                <a id="analyzeButton" href="#fakelink" class="btn btn-block btn-lg btn-primary">Analyze New Document</a>
            </div>            
        </div>    				


        <hr class="soften" />
       


        <h4 class="text-center">Your Analysis Results:</h4>

        <div class="row demo-row">
            <div class="col-md-6 col-md-offset-3">
                <p class="lead text-center">Attention Rating:</p>

                <div class="progress">
                    <div class="progress-bar" style="width: 40%;"></div>

                    <div class="progress-bar progress-bar-warning" style="width: 10%;"></div>

                    <div class="progress-bar progress-bar-danger" style="width: 10%;"></div>

                    <div class="progress-bar progress-bar-success" style="width: 10%;"></div>

                    <div class="progress-bar progress-bar-info" style="width: 10%;"></div>
                </div>
            </div>
        </div>

        <p class="text-center">Filter themes</p>

        <div class="row demo-row">
            <div class="col-md-2">
                <a href="#fakelink" class="btn btn-block btn-primary">Theme 1</a>
            </div>

            <div class="col-md-2">
                <a href="#fakelink" class="btn btn-block btn-warning">Theme 2</a>
            </div>

            <div class="col-md-2">
                <a href="#fakelink" class="btn btn-block btn-default">Theme 3</a>
            </div>

            <div class="col-md-2">
                <a href="#fakelink" class="btn btn-block btn-danger">Theme 4</a>
            </div>

            <div class="col-md-2">
                <a href="#fakelink" class="btn btn-block btn-inverse">Theme 5</a>
            </div>

            <div class="col-md-2">
                <a href="#fakelink" class="btn btn-block btn-success">Theme 6</a>
            </div>
        </div>
        <hr class="soften">


          
        <div class="row">
            <div class="col-md-8" id="text">
                    <div class="article">
                        <h2 typo="title">GitHub Terms of Service</h2>

                        <div class="article-body content-body wikistyle markdown-format">
                            <p><span class="unit">By using the GitHub.</span><span class="unit">com web site ("Service"), or any services of GitHub, Inc ("GitHub"), you are agreeing to be bound by the following terms and conditions ("Terms of Service").</span><span class="unit"> IF YOU ARE ENTERING INTO THIS AGREEMENT ON BEHALF OF A COMPANY OR OTHER LEGAL ENTITY, YOU REPRESENT THAT YOU HAVE THE AUTHORITY TO BIND SUCH ENTITY, ITS AFFILIATES AND ALL USERS WHO ACCESS OUR SERVICES THROUGH YOUR ACCOUNT TO THESE TERMS AND CONDITIONS, IN WHICH CASE THE TERMS "YOU" OR "YOUR" SHALL REFER TO SUCH ENTITY, ITS AFFILIATES AND USERS ASSOCIATED WITH IT.</span><span class="unit"> IF YOU DO NOT HAVE SUCH AUTHORITY, OR IF YOU DO NOT AGREE WITH THESE TERMS AND CONDITIONS, YOU MUST NOT ACCEPT THIS AGREEMENT AND MAY NOT USE THE SERVICES.</span></p>

                            <p><span class="unit">Please note that if you are accessing any GitHub service in your capacity as a government entity, there are special terms that may apply to you.</span><span class="unit"> Please see Section G.</span><span class="unit">17, below, for more details.</span></p>

                            <p><span class="highlighted palette-sun-flower" theme="arrnitration" text="This is because.... "> If GitHub makes material changes to these Terms, we will notify you by email or by posting a notice on our site before the changes are effective.</span><span class="unit">  Any new features that augment or enhance the current Service, including the release of new tools and resources, shall be subject to the Terms of Service.</span><span class="unit"> Continued use of the Service after any such changes shall constitute your consent to such changes.</span><span class="unit"> You can review the most current version of the Terms of Service at any time at: <a href="https://github.</span><span class="unit">com/site/terms">http://github.</span><span class="unit">com/site/terms</a></p>

                            <p><span class="unit">Violation of any of the terms below will result in the termination of your Account.</span><span class="unit"> While GitHub prohibits such conduct and Content on the Service, you understand and agree that GitHub cannot be responsible for the Content posted on the Service and you nonetheless may be exposed to such materials.</span><span class="unit"> You agree to use the Service at your own risk.</span></p>

                            <h3><a name="a-account-terms" class="anchor" href="#a-account-terms"></a>A. Account Terms</h3>

                            <ol>
                                <li>
                                    <p><span class="unit">You must be 13 years or older to use this Service.</span></p>
                                </li>

                                <li>
                                    <p><span class="unit">You must be a human.</span><span class="unit"> Accounts registered by "bots" or other automated methods are not permitted.</span></p>
                                </li>

                                <li>
                                    <p><span class="unit">You must provide your legal full name, a valid email address, and any other information requested in order to complete the signup process.</span></p>
                                </li>

                                <li>
                                    <p><span class="unit">Your login may only be used by one person - a single login shared by multiple people is not permitted.</span><span class="unit"> You may create separate logins for as many people as your plan allows.</span></p>
                                </li>

                                <li>
                                    <p><span class="unit">You are responsible for maintaining the security of your account and password.</span><span class="unit"> GitHub cannot and will not be liable for any loss or damage from your failure to comply with this security obligation.</span></p>
                                </li>

                                <li>
                                    <p><span class="unit">You are responsible for all Content posted and activity that occurs under your account (even when Content is posted by others who have accounts under your account).</span></p>
                                </li>

                                <li>
                                    <p><span class="unit">One person or legal entity may not maintain more than one free account.</span></p>
                                </li>

                                <li>
                                    <p><span class="unit">You may not use the Service for any illegal or unauthorized purpose.</span><span class="unit"> You must not, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright or trademark laws).</span></p>
                                </li>
                            </ol>

                            <h3><a name="b-api-terms" class="anchor" href="#b-api-terms"></a>B API Terms</h3>

                            <p><span class="unit">Customers may access their GitHub account data via an API (Application Program Interface).</span><span class="unit"> Any use of the API, including use of the API through a third-party product that accesses GitHub, is bound by these Terms of Service plus the following specific terms:</p>

                            <ol>
                                <li>
                                    <p><span class="unit">You expressly understand and agree that GitHub shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if GitHub has been advised of the possibility of such damages), resulting from your use of the API or third-party products that access data via the API.</span></p>
                                </li>

                                <li>
                                    <p><span class="unit">Abuse or excessively frequent requests to GitHub via the API may result in the temporary or permanent suspension of your account's access to the API.</span><span class="unit"> GitHub, in its sole discretion, will determine abuse or excessive usage of the API.</span><span class="unit"> GitHub will make a reasonable attempt via email to warn the account owner prior to suspension.</span></p>
                                </li>

                                <li>
                                    <p><span class="unit">GitHub reserves the right at any time to modify or discontinue, temporarily or permanently, your access to the API (or any part thereof) with or without notice.</span></p>
                                </li>
                            </ol>

                            <h3><a name="c-payment-refunds-upgrading-and-downgrading-terms" class="anchor" href="#c-payment-refunds-upgrading-and-downgrading-terms"></a>C. Payment, Refunds, Upgrading and Downgrading Terms</h3>

                            <ol>
                                <li>
                                    <p><span class="unit">All paid plans must enter a valid credit card.</span><span class="unit"> Free accounts are not required to provide a credit card number.</span></p>
                                </li>

                                <li>
                                    <p><span class="unit"><strong>An upgrade from the free plan to any paying plan will immediately bill you.</span><span class="unit"></strong></p>
                                </li>

                                <li>
                                    <p><span class="unit">For monthly payment plans, <strong>the Service is billed in advance on a monthly basis and is non-refundable.</span><span class="unit"> There will be no refunds or credits for partial months of service, upgrade/downgrade refunds, or refunds for months unused with an open account.</span><span class="unit"> In order to treat everyone equally, no exceptions will be made.</span><span class="unit"></strong></p>
                                </li>

                                <li>
                                    <p><span class="unit"><strong>When changing from a monthly billing cycle to a yearly billing cycle, GitHub will bill for a full year at the next monthly billing date.</span><span class="unit"></strong></p>
                                </li>

                                <li>
                                    <p><span class="unit">All fees are exclusive of all taxes, levies, or duties imposed by taxing authorities, and you shall be responsible for payment of all such taxes, levies, or duties, excluding only United States (federal or state) taxes.</span></p>
                                </li>

                                <li>
                                    <p><span class="unit">For any upgrade or downgrade in plan level while on a monthly billing cycle, the credit card that you provided will automatically be charged the new rate on your next billing cycle.</span><span class="unit"><br>
                                    For upgrades or downgrades while on a yearly plan, GitHub will immediately charge or refund the difference in plan cost, prorated for the remaining time in your yearly billing cycle.</span></p>
                                </li>

                                <li>
                                    <p><span class="unit">Downgrading your Service may cause the loss of Content, features, or capacity of your Account.</span><span class="unit"> GitHub does not accept any liability for such loss.</span></p>
                                </li>
                            </ol>

                            <h3><a name="d-cancellation-and-termination" class="anchor" href="#d-cancellation-and-termination"></a>D. Cancellation and Termination</h3>

                            <ol>
                                <li>
                                    <p><span class="unit"><strong>You are solely responsible for properly canceling your account.</span><span class="unit"> An email or phone request to cancel your account is not considered cancellation.</span><span class="unit"> You can cancel your account at any time by clicking on the Account link in the global navigation bar at the top of the screen.</span><span class="unit"> The Account screen provides a simple no questions asked cancellation link.</span><span class="unit"></strong></p>
                                </li>

                                <li>
                                    <p><span class="unit">All of your Content will be immediately deleted from the Service upon cancellation.</span><span class="unit"> This information can not be recovered once your account is cancelled.</span></p>
                                </li>

                                <li>
                                    <p><span class="unit">If you cancel the Service before the end of your current paid up month, your cancellation will take effect immediately and you will not be charged again.</span></p>
                                </li>

                                <li>
                                    <p><span class="unit">GitHub, in its sole discretion, has the right to suspend or terminate your account and refuse any and all current or future use of the Service, or any other GitHub service, for any reason at any time.</span><span class="unit"> Such termination of the Service will result in the deactivation or deletion of your Account or your access to your Account, and the forfeiture and relinquishment of all Content in your Account.</span><span class="unit"> GitHub reserves the right to refuse service to anyone for any reason at any time.</span></p>
                                </li>
                            </ol>

                            <h3><a name="e-modifications-to-the-service-and-prices" class="anchor" href="#e-modifications-to-the-service-and-prices"></a>E.Modifications to the Service and Prices</h3>

                            <ol>
                                <li>
                                    <p><span class="unit">GitHub reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice.</span></p>
                                </li>

                                <li>
                                    <p><span class="unit">Prices of all Services, including but not limited to monthly subscription plan fees to the Service, are subject to change upon 30 days notice from us.</span><span class="unit"> Such notice may be provided at any time by posting the changes to the GitHub Site (<a href="https://github.</span><span class="unit">com">github.</span><span class="unit">com</a>) or the Service itself.</span></p>
                                </li>

                                <li>
                                    <p><span class="unit">GitHub shall not be liable to you or to any third party for any modification, price change, suspension or discontinuance of the Service.</span></p>
                                </li>
                            </ol>

                            <h3><a name="f-copyright-and-content-ownership" class="anchor" href="#f-copyright-and-content-ownership"></a>F. Copyright and Content Ownership</h3>

                            <ol>
                                <li>
                                    <p><span class="unit">We claim no intellectual property rights over the material you provide to the Service.</span><span class="unit"> Your profile and materials uploaded remain yours.</span><span class="unit"> However, by setting your pages to be viewed publicly, you agree to allow others to view your Content.</span><span class="unit"> By setting your repositories to be viewed publicly, you agree to allow others to view and fork your repositories.</span></p>
                                </li>

                                <li>
                                    <p><span class="unit">GitHub does not pre-screen Content, but GitHub and its designee have the right (but not the obligation) in their sole discretion to refuse or remove any Content that is available via the Service.</span></p>
                                </li>

                                <li>
                                    <p><span class="unit">You shall defend GitHub against any claim, demand, suit or proceeding made or brought against GitHub by a third party alleging that Your Content, or Your use of the Service in violation of this Agreement, infringes or misappropriates the intellectual property rights of a third party or violates applicable law, and shall indemnify GitHub for any damages finally awarded against, and for reasonable attorney’s fees incurred by, GitHub in connection with any such claim, demand, suit or proceeding; provided, that GitHub (a) promptly gives You written notice of the claim, demand, suit or proceeding; (b) gives You sole control of the defense and settlement of the claim, demand, suit or proceeding (provided that You may not settle any claim, demand, suit or proceeding unless the settlement unconditionally releases GitHub of all liability); and (c) provides to You all reasonable assistance, at Your expense.</span></p>
                                </li>

                                <li>
                                    <p><span class="unit">The look and feel of the Service is copyright ©2010 GitHub Inc.</span><span class="unit"> All rights reserved.</span><span class="unit"> You may not duplicate, copy, or reuse any portion of the HTML/CSS, Javascript, or visual design elements or concepts without express written permission from GitHub.</span></p>
                                </li>
                            </ol>

                            <h3><a name="g-general-conditions" class="anchor" href="#g-general-conditions"></a>G. General Conditions</h3>

                            <ol>
                                <li>
                                    <p><span class="unit">Your use of the Service is at your sole risk.</span><span class="unit"> The service is provided on an "as is" and "as available" basis.</span></p>
                                </li>

                                <li>
                                    <p><span class="unit">Support for GitHub services is only available in English, via email.</span></p>
                                </li>

                                <li>
                                    <p><span class="unit">You understand that GitHub uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the Service.</span></p>
                                </li>

                                <li>
                                    <p><span class="unit">You must not modify, adapt or hack the Service or modify another website so as to falsely imply that it is associated with the Service, GitHub, or any other GitHub service.</span></p>
                                </li>

                                <li>
                                    <p><span class="unit">You may use GitHub subdomains (e.</span><span class="unit">g.</span><span class="unit">, yourname.</span><span class="unit">github.</span><span class="unit">io) solely as permitted and intended by the GitHub Pages tool to host your company pages, personal pages, or open source project pages, and for no other purpose.</span><span class="unit"> You may not use GitHub subdomains in violation of GitHub's trademark or other rights or in violation of applicable law.</span><span class="unit"> GitHub reserves the right at all times to reclaim any GitHub subdomain without liability to you.</span></p>
                                </li>

                                <li>
                                    <p><span class="unit">You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written permission by GitHub.</span></p>
                                </li>

                                <li>
                                    <p><span class="unit">We may, but have no obligation to, remove Content and Accounts containing Content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene or otherwise objectionable or violates any party's intellectual property or these Terms of Service.</span></p>
                                </li>

                                <li>
                                    <p><span class="unit">Verbal, physical, written or other abuse (including threats of abuse or retribution) of any GitHub customer, employee, member, or officer will result in immediate account termination.</span></p>
                                </li>

                                <li>
                                    <p><span class="unit">You understand that the technical processing and transmission of the Service, including your Content, may be transfered unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.</span></p>
                                </li>

                                <li>
                                    <p><span class="unit">You must not upload, post, host, or transmit unsolicited email, SMSs, or "spam" messages.</span></p>
                                </li>

                                <li>
                                    <p><span class="unit">You must not transmit any worms or viruses or any code of a destructive nature.</span></p>
                                </li>

                                <li>
                                    <p><span class="unit">If your bandwidth usage significantly exceeds the average bandwidth usage (as determined solely by GitHub) of other GitHub customers, we reserve the right to immediately disable your account or throttle your file hosting until you can reduce your bandwidth consumption.</span></p>
                                </li>

                                <li>
                                    <p><span class="unit">GitHub does not warrant that (i) the service will meet your specific requirements, (ii) the service will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of the service will be accurate or reliable, (iv) the quality of any products, services, information, or other material purchased or obtained by you through the service will meet your expectations, and (v) any errors in the Service will be corrected.</span></p>
                                </li>

                                <li>
                                    <p><span class="unit">You expressly understand and agree that GitHub shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if GitHub has been advised of the possibility of such damages), resulting from: (i) the use or the inability to use the service; (ii) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from the service; (iii) unauthorized access to or alteration of your transmissions or data; (iv) statements or conduct of any third party on the service; (v) or any other matter relating to the service.</span></p>
                                </li>

                                <li>
                                    <p><span class="unit">The failure of GitHub to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision.</span><span class="unit"> The Terms of Service constitutes the entire agreement between you and GitHub and govern your use of the Service, superseding any prior agreements between you and GitHub (including, but not limited to, any prior versions of the Terms of Service).</span><span class="unit"> You agree that these Terms of Service and Your use of the Service are governed under California law.</span></p>
                                </li>

                                <li>
                                    <p><span class="unit">Questions about the Terms of Service should be sent to <a href="mailto:support@github.</span><span class="unit">com">support@github.</span><span class="unit">com</a>.</span></p>
                                </li>

                                <li>
                                    <p><span class="unit">If you are a government user or otherwise accessing or using any GitHub service in a government capacity, this <a href="https://help.</span><span class="unit">github.</span><span class="unit">com/articles/amendment-to-github-terms-of-service-applicable-to-government-users">Amendment to GitHub Terms of Service</a> shall apply to you.</span></p>
                                </li>

                                <li>
                                    <p><span class="unit">Map data copyright OpenStreetMap contributors and licensed under the <a href="http://www.</span><span class="unit">openstreetmap.</span><span class="unit">org/copyright">Open Data Commons Open Database License</a>.</span><span class="unit"> Map design and imagery subject to the <a href="http://www.</span><span class="unit">mapbox.</span><span class="unit">com/about/maps/">MapBox Terms of Service</a>.</span></p>
                                </li>
                            </ol>
                        </div>
                    </div>
            </div>
            <div class="col-md-4">
                          <div class="btn-toolbar">
                <div class="btn-group">
                  <a class="btn btn-default"><span class="fui-time"></span></a>
                  <a class="btn btn-default" href="#fakelink"><span class="fui-photo"></span></a>
                  <a class="btn btn-default" href="#fakelink"><span class="fui-heart"></span></a>
                  <a id="showToggle" class="btn btn-default" href="#fakelink" ><span class="fui-eye"> Show All</span></a>
                </div>
              </div> <!-- /toolbar -->

            </div>
            
            </div><!-- /.</span><span class="unit">demo-content-wide -->
        </div>
        </div>
    </div><!-- /container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h4>Credits </h4>
                    <p>Created by Daniel, Sam and Caner </p>
                    <p>This page uses the <a href="http://designmodo.com/flat-free" target="_blank">DesignModo Flat UI</a> and <a href="http://getbootstrap.com/" target="_blank">Bootstrap 3</a>.</p>
               
                </div><!-- /col-md-7 -->

                <div class="col-md-5">
                    <div class="footer-banner">
                        <h3 class="footer-title">UVA Hackathon</h3>
                        <p>November 22, 2013</p>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- Load JS here for greater good =============================-->

<script src="js/jquery-1.8.3.min.js" type="text/javascript">
</script><script src="js/jquery-ui-1.10.3.custom.min.js" type="text/javascript">
</script><script src="js/jquery.ui.touch-punch.min.js" type="text/javascript">
</script><script src="js/bootstrap.min.js" type="text/javascript">
</script><script src="js/bootstrap-select.js" type="text/javascript">
</script><script src="js/bootstrap-switch.js" type="text/javascript">
</script><script src="js/flatui-checkbox.js" type="text/javascript">
</script><script src="js/flatui-radio.js" type="text/javascript">
</script><script src="js/jquery.tagsinput.js" type="text/javascript">
</script><script src="js/jquery.placeholder.js" type="text/javascript">
</script><script src="js/jquery.stacktable.js" type="text/javascript">
</script><script src="http://vjs.zencdn.net/4.1/video.js" type="text/javascript">
</script><script src="js/application.js" type="text/javascript">
</script>
<script type="text/javascript">

(function(){ 	
	$('#text').find('p').hide();  // Hide all paragraphs first
	$('<div class="hiddenMsg">This content is hidden. Click the box to show. </div>').insertAfter('#text p');		// show div that says paragraph is not important for hidden. Show option to show.  
	$('.highlighted').parent('p').show().find('.hiddenMsg').hide();// show paragraphs that have highlighted content
	$('.unit').on('mouseenter', function(){
		$(this).css('color', '#34495e'); 
	});
	$('.unit').on('mouseleave', function(){
		$(this).css('color', '#bbb'); 
	});

	// Show contents when message 
	$('.hiddenMsg').on('click', function(){
		$(this).hide().prev('p').show();
	}); 

	// empty the text Row
	$('#clearButton').on('click', function(){		
		$('#textpaste').val('');
		$('#errorMsg').html(''); 	
		$('#textForm').removeClass('has-error');  	
					
	}); 

	// Text analysis button is clicked
	$('#analyzeButton').on('click', function(){
		var content = $('#textpaste').val();
		var text = 'Copy paste the text of the terms and service content here. Click Analyze New Document when you are ready.'; 
		if(content == text || content.length < 1 ){
				$('#textForm').addClass('has-error'); 
				$('#errorMsg').html('The text box is empty, please try again.'); 	
			} else {
				$('#textForm').removeClass('has-error');  	
				$('#errorMsg').html(''); 	
				
			}	
	}); 


	$('#textpaste').focus(function(){
		var content = $(this).val(); 
		var text = 'Copy paste the text of the terms and service content here. Click Analyze New Document when you are ready.'; 
		if(content == text ){
				$(this).val(''); 	
			}
	})
 

	// Show hide text
	// click to show everything
	$('#showToggle').on('click', function(){
		if($(this).hasClass('active')){
			$('#text').find('p').hide();
			$('<div class="hiddenMsg">This content is hidden. Click the box to show. </div>').insertAfter('#text p');		// show div that says paragraph is not important for hidden. Show option to show.  
			$('.highlighted').parent('p').show().find('.hiddenMsg').hide();// show paragraphs that have highlighted content
			$('#showToggle').removeClass('active').html('<span class="fui-eye">  Show All');		

				
		} else {
			$('#text').find('p').fadeIn();
			$('.hiddenMsg').remove(); 
			$(this).addClass('active').html('<span class="fui-eye">  Hide');		
			
		}
	}); 
	//click to hide back
	
 })();



</script>
</body>
</html>
