<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>clie/r.ly  </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Loading Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"><!-- Loading Flat UI -->
    <link href="/static/css/flat-ui.css" rel="stylesheet" type="text/css">
    <link href="/static/css/demo.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/static/images/favicon.ico"><!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->

    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
    <script src="/static/js/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="/static/example.js"></script>
</head>

<body>
    <div class="container"> 
        <div class="demo-headline-front dark-bg-front">

            <div>
                <h2 class="demo-logo">clie/r.ly </h2>
                <p class="lead"> Helping you make sense of Terms of service documents. </p>
                <p> <a href="/demo" class="btn  btn-lg btn-warning"> Try it now!  </a></p>
            </div>
        </div><!-- /demo-headline -->



	<div class="row front-row">
	      	<div class="row">
			  	<h3 id="type">What is clie/r.ly?</h3>
			  	<div class="col-md-12">	 
			  	<p> Digital technologies have made it easier for us to let go of our privacy and sign on to services without taking the time to read and clarify the legal obligations and rights. Few people ever read Terms of Service documents that they click to agree in a matter of seconds and it's hard to blame anyone. These documents are written by teams of lawyers and are lengthy and difficult to read. </p><p> clie/r.ly is designed to solve this problem by using a smart parser to summarize the document into important themes that the readers can quickly skim through. Using Natural Language Processing fundamentals, the goal of clie/r.ly is to unite programming and collaborative intelligence of volunteers to create the best parser for the pesky Terms of Service documents. </p>     
			  	</div>
			  </div>	      	
	      	<div class="row">
	      <h3 id="type">Origins and Vision</h3>
			  	<div class="col-md-12">
				  		      <p> clie/r.ly grew out of a one day coding event at the University of Virginia in November 2013. The goal of our team at that event was to demonstrate that a bit of code could help solve real problems in the world; one which affected many lives. Based on our interest in processing language we tried to take on the language in Terms of Service documents to make them more understandable to the individual. We also wanted to use a colorful and innovative user interface to make this task an even more fun experience. </p>
				  		      <p>Our goal is to turn clie/r.ly into a collaborative and free tool that everyone can use in many languages. It is very important to us that it stays free as a service that can benefit all users of digital technologies in making their access to web services easier.  </p>

			  	</div>
			  </div>
	      	<div class="row">
	      <h3 id="type">Contributing to clie/r.ly</h3>
	      <p>  </p>
			  	<div class="col-md-6">
				  	<h6> If you can code or design </h6>
				  	<p> If you can code, you can contribute to the parser and other aspects of the user experience design. The parser is written in Python and javascript with the Flask python framework. The user interface is in HTML, CSS and Javascript.</p>
				  	<p><a href="https://github.com/shc7pw/clierly" class="btn btn-lg btn-primary">Start with the Github page</a></p>
			  	</div>
			  	<div class="col-md-6">
					  	<h6> If you have 5 minutes </h6>
				  	<p> You can help with your intellect and make the machine learning system better by manually tagging and sorting sentences. We have designed a tool that helps you do this easy task. Think of it like a game, it's addictive! </p>	
				  	<p><a href="/map" class="btn btn-lg btn-info">Go to mapping page</a></p>
			  	</div>
			  </div>
	    </div>
	</div>
      
      
        <div class="row demo-row">
            <div class="col-md-9">



            </div>
        </div>



          
        </div>
        </div>
    </div><!-- /container -->


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h4>Credits </h4>
                    <p>Created by Fabian, Sam and Caner </p>
                    <p>This page uses the <a href="http://designmodo.com/flat-free" target="_blank">DesignModo Flat UI</a> and <a href="http://getbootstrap.com/" target="_blank">Bootstrap 3</a>.</p>
               
                </div><!-- /col-md-7 -->

                <div class="col-md-5">
                    <div class="footer-banner">
                        <h4 class="footer-title">UVA Hackathon</h4>
                        <p>November 22, 2013</p>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- Load JS here for greater good =============================-->


</script><script src="/static/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript">
</script><script src="/static/js/jquery.ui.touch-punch.min.js" type="text/javascript">
</script><script src="/static/js/bootstrap.min.js" type="text/javascript">
</script><script src="/static/js/bootstrap-select.js" type="text/javascript">
</script><script src="/static/js/bootstrap-switch.js" type="text/javascript">
</script><script src="/static/js/flatui-checkbox.js" type="text/javascript">
</script><script src="/static/js/flatui-radio.js" type="text/javascript">
</script><script src="/static/js/jquery.tagsinput.js" type="text/javascript">
</script><script src="/static/js/jquery.placeholder.js" type="text/javascript">
</script><script src="/static/js/jquery.stacktable.js" type="text/javascript">
</script><script src="/static/js/jquery.scrollTo.min.js" type="text/javascript">

</script><script src="http://vjs.zencdn.net/4.1/video.js" type="text/javascript">
</script><script src="/static/js/application.js" type="text/javascript">
</script>


</body>
</html>

