<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>clie/r.ly Map </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Loading Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"><!-- Loading Flat UI -->
    <link href="/static/css/flat-ui.css" rel="stylesheet" type="text/css">
    <link href="/static/css/demo.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/static/images/favicon.ico"><!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->

    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
    <script src="/static/js/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="/static/example.js"></script>
</head>

<body>
    <div class="container"> 
        <div class="demo-headline dark-bg">
            <h1 class="demo-logo"></h1>

            <div>
                <h1 class="demo-logo"><img src="/static/images/icons/svg/map.svg" alt="Map"> <br />Map </h1>Help us make this incredible tool more intelligent! </p>
            </div>
        </div><!-- /demo-headline -->


        <div class="row demo-row" style="text-align:center">
            <div class="col-md-12">
            <p style="height: 50px;"> <a href="/demo" class="btn  btn-lg btn-info pull-left" > <span class="fui-arrow-left"></span> Previous  </a> </p>
            <p> <textarea type="text" value="" placeholder="Inactive" class="form-control text-box"> You are responsible for all Content posted and activity that occurs under your account (even when Content is posted by others who have accounts under your account).</textarea> </p>
            <h6> Which of the theme  does the text above fit? (Select all that apply). </h6>
            <p><div class="btn-group">
                  <a class="btn btn-primary" href="#fakelink">Content </a>
                  <a class="btn btn-primary" href="#fakelink">Change </a>
                  <a class="btn btn-primary active" href="#fakelink">Money</a>
                  <a class="btn btn-primary" href="#fakelink">Violation</a>
				  <a class="btn btn-primary" href="#fakelink">Personal Info</a>
				  <a class="btn btn-primary" href="#fakelink">Risk</a>
                </div></p>
                <h6> How important is the information in this sentence? </h6>
               <div style="margin: 5px 25%">
	               <div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false"><div class="ui-slider-segment" style="margin-left: 25%;"></div><div class="ui-slider-segment" style="margin-left: 25%;"></div><div class="ui-slider-segment" style="margin-left: 25%;"></div>
            <div class="ui-slider-segment"></div>
            <div class="ui-slider-segment"></div>
            <div class="ui-slider-segment"></div>
          <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 25%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 25%;"></a></div>
               </div> 
            <p>  <a href="/demo" class="btn  btn-lg btn-primary pull-right"> Next <span class="fui-arrow-right"></span>   </a></p>
            <p>
            
            </p>
            </div>
        </div>



          
        </div>
        </div>
    </div><!-- /container -->


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h4>Credits </h4>
                    <p>Created by Fabian, Sam and Caner </p>
                    <p>This page uses the <a href="http://designmodo.com/flat-free" target="_blank">DesignModo Flat UI</a> and <a href="http://getbootstrap.com/" target="_blank">Bootstrap 3</a>.</p>
               
                </div><!-- /col-md-7 -->

                <div class="col-md-5">
                    <div class="footer-banner">
                        <h3 class="footer-title">UVA Hackathon</h3>
                        <p>November 22, 2013</p>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- Load JS here for greater good =============================-->


</script><script src="/static/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript">
</script><script src="/static/js/jquery.ui.touch-punch.min.js" type="text/javascript">
</script><script src="/static/js/bootstrap.min.js" type="text/javascript">
</script><script src="/static/js/bootstrap-select.js" type="text/javascript">
</script><script src="/static/js/bootstrap-switch.js" type="text/javascript">
</script><script src="/static/js/flatui-checkbox.js" type="text/javascript">
</script><script src="/static/js/flatui-radio.js" type="text/javascript">
</script><script src="/static/js/jquery.tagsinput.js" type="text/javascript">
</script><script src="/static/js/jquery.placeholder.js" type="text/javascript">
</script><script src="/static/js/jquery.stacktable.js" type="text/javascript">
</script><script src="/static/js/jquery.scrollTo.min.js" type="text/javascript">

</script><script src="http://vjs.zencdn.net/4.1/video.js" type="text/javascript">
</script><script src="/static/js/application.js" type="text/javascript">
</script>


</body>
</html>

